<div class="container">
    <h1 class="title">Bugs Counter</h1>

    <div class="row">
        <% for (let i=0; i < greenhouseData.length; i++) { %> 
            
                <a class="listedPodCard modal-trigger" href="#<%= greenhouseData[i]._id %>">
                    <div class="card col s12">
                        <div class="card-content">
                            
                            <div class="col s8 l8 ">
                                <div class="col s12 " ><span id="podName_span">Pod Name <b><%= greenhouseData[i].podName %> </b></span></div>
                                <div class="col s12 "><span>Last reading<b> <% if (!greenhouseData[i].timeStamp) { %>
                                    N/A 
                                <% } else {  %> 
                                     <%= greenhouseData[i].timeStamp %> 
                                <% } %></b></span>
                                </div>
                            
                            </div>

                            <div class="col s1 l1"> 
                                <i id="insect-icon" class="material-icons tiny">bug_report</i>
                            </div>

                            <div class="col s3 l3 ">
                                <span id="insectsAmount_span"><p><b> <% if (!greenhouseData[i].insectsAmount) { %>
                                    N/A 
                               <% } else { %> 
                                    <%= greenhouseData[i].insectsAmount %> 
                               <% } %> </b></p></span>
                            </div>

                        </div>
                    </div>
                </a>

                <div id="<%= greenhouseData[i]._id %>" class="modal">
                    <div class="modal-content">
                        <span class="card-title grey-text text-darken-4"> Update pod <%= greenhouseData[i].podName %> </span>
                        
                        <form id="<%= greenhouseData[i]._id %>_recordForm" class="col s12 recordForm">
                            <div class="input-field col s12">
                                <input  placeholder="Amount of insects" id="<%= greenhouseData[i]._id %>_insectsAmount" type="number" class="validate" required>
                                <label for="insectsAmount"> Insects Amount </label>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <div class="row center">
                            <button type="submit" id="<%= greenhouseData[i]._id %>" class="waves-effect waves-light btn-large recordButton" style="background-color: #9E65A9;">
                                <i class="material-icons left" style="color:white;">update</i>
                                Record
                            </button>
                        </div>
                    </div>
                </div>
                
        <% } %>

        
        
        
        <!-- Modal Trigger -->
        <!--div id="addButton-container" class="col s12">
            <button id="addButton" class="waves-effect waves-light btn-floating btn-large modal-trigger" data-target="addCardModal">
                <i class="material-icons">add</i>
            </button>
        </div-->

        <!-- Modal Structure -->
        <div id="addCardModal" class="modal">
            <div class="modal-content">
                <h4>New area</h4>
                <p>Please provide area ID</p>
                <div class="input-field col s12">
                    <input  placeholder="Pod name (e.g. A1)" id="podName" type="text" class="validate" required>
                    <label for="podName"> Area ID </label>
                </div>
            </div>
            <!--div class="modal-footer">
                <div class="row center">
                    <a id="addAreaButton" class="modal-close waves-effect waves-light btn">Submit</a>
                </div>
            </div-->
        </div>

    </div>
    
</div>