<div class="container">
    <h1 class="title">Green House Dashboard</h1>
    <div class="row">
        <h3 class="title">Summary</h3>
        <div class="col s12 m4">
            <div class="card-panel teal" style="height: 100px;">
                
                <div class="col s6 ">
                    <span class="white-text "> Parassites Level
                    </span>
                </div>
                <div class="col s6">
                    <span class="white-text" style="
                    font-size: xxx-large;
                ">  <%= totalInsects %> </span>
                </div>
              
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel teal" style="height: 100px;">
                
                <div class="col s9 ">
                    <span class="white-text ">Hunters Needed
                    </span>
                </div>
                <div class="col s3">
                    <span class="white-text" style="
                    font-size: xxx-large;
                ">20</span>
                </div>
              
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel teal waves-effect waves-light  btn-large modal-trigger" data-target="addCardModal" style="height: 100px; width: 100%;">

            
                    <span class="white-text "> Add Pod
                    </span>
             
               
              
            </div>
          </div>

    </div>


    <div class="row center">
        <div class="col s12 m6 l6">
            <h3 class="title">Pods</h3>
            <% for (let i=0; i < greenhouseData.length; i++) { %> 
                <div class="card-panel col l12 cardPod" id=<%= greenhouseData[i]._id %> >
               
    
                    <div class="card-content">
                        <div class="col s9 l9 ">
                            <div class="col s12 " ><span>Area Name <b><%= greenhouseData[i].areaID %> </b></span></div>
                            <div class="col s12 "><span>Last reading<b> <% if (!greenhouseData[i].date) { %>
                                N/A 
                            <% } else {  %> 
                                 <%= greenhouseData[i].date %> 
                            <% } %></b></span>
                            </div>
                        
                        </div>
                        <div class="col s3 l3 ">
                            <span>Number<p><b> <% if (!greenhouseData[i].insectsAmount) { %>
                                N/A 
                           <% } else { %> 
                                <%= greenhouseData[i].insectsAmount %> insects
                           <% } %> </b></p></span>
                        </div>
    
                       
    
                       
                    </div>
    
                    <!--button class="waves-effect waves-light btn modal-trigger" data-target="<%= greenhouseData[i].areaID %>_updateAreaModal">
                        <i class="material-icons">update</i>
                    </button-->
    
                    <div id="<%= greenhouseData[i].areaID %>_updateAreaModal" class="modal">
                        <div class="modal-content">
                            <span class="card-title grey-text text-darken-4"> Update <%= greenhouseData[i].areaID %> </span>
                            
                            <form id="<%= greenhouseData[i].areaID %>_recordForm" class="col s12 recordForm">
                                <div class="input-field col s12">
                                    <input  placeholder="Amount of insects" id="<%= greenhouseData[i].areaID %>_insectsAmount" type="number" class="validate" required>
                                    <label for="insectsAmount"> Insects Amount </label>
                                </div>
    
                                <div class="row center">
                                    <button type="submit" id="<%= greenhouseData[i].areaID %>" class="waves-effect waves-light btn-large recordButton" style="background-color: #9E65A9;">
                                        <i class="material-icons left" style="color:white;">emoji_people</i>
                                        Record
                                    </button>
                                </div>
                            </form>
                        </div>
    
                    </div>
                    
    
                    <!-- <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4"> Update <%= greenhouseData[i].areaID %> <i class="material-icons right">close</i></span>
                      
                      <form id="<%= greenhouseData[i].areaID %>_recordForm" class="col s12">
                        <div class="input-field col s12">
                            <input  placeholder="Amount of insects" id="<%= greenhouseData[i].areaID %>_insectsAmount" type="number" class="validate" required>
                            <label for="insectsAmount"> Insects Amount </label>
                        </div>
                        <button type="submit" id="<%= greenhouseData[i].areaID %>_recordButton" class="waves-effect waves-light btn-large recordButton" style="background-color: #9E65A9;">
                            <i class="material-icons left" style="color:white;">emoji_people</i>
                            Record
                        </button>
                        </form>
                    
                    </div> -->
                </div>
            <% } %>
        </div>
        <div class="col s12 m6 l6">
            <h3 class="title">Map</h3>
            <div class="card-panel col l12 white" style="height: 300px;">
                   Graph
            </div>
            <div class="card-panel col l12 white" style="height: 300px;">
                Map
         </div>

        </div>


        
        
        
        <!-- Modal Trigger -->
        <div id="addButton-container" class="col s3">
            <button id="addButton" class="waves-effect waves-light btn-floating btn-large modal-trigger" data-target="addCardModal">
                <i class="material-icons">add</i>
            </button>
        </div>

        <!-- Modal Structure -->
        <div id="addCardModal" class="modal">
            <div class="modal-content">
                <h4>New area</h4>
                <p>Please provide area ID</p>
                <div class="input-field col s12">
                    <input  placeholder="Area ID (e.g. A1)" id="areaID" type="text" class="validate" required>
                    <label for="areaID"> Area ID </label>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row center">
                    <a id="addAreaButton" class="modal-close waves-effect waves-light btn">Submit</a>
                </div>
            </div>
        </div>

    </div>
    
</div>

<!-- <ul class="collection">
    <% for (let i=0; i < greenhouseData.length; i++) { %> 
        <li class="collection-item avatar">
        <img src="assets/ale2.jpg" alt="" class="circle">
        <span class="title" style="color: #2c0235;" > Area <%= greenhouseData[i].areaID %>  </span>
        <p> Insects amount: <%= greenhouseData[i].insectsAmount %>  <br>
            <%= greenhouseData[i].timeStamp %>
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
    <% } %>
</ul> -->