<div class="container">
    <h1 class="title">Bugs Tracker</h1>
    <div class="row">
        <h3 class="title">Summary</h3>
        <div class="col s12 m4">
            <div class="card-panel teal" style="height: 100px;">
                
                <div class="col s6 ">
                    <span class="white-text "> Parassites Level
                    </span>
                </div>
                <div class="col s6">
                    <span class="white-text" style="
                    font-size: xxx-large;
                ">  <%= totalInsects %> </span>
                </div>
              
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel teal" style="height: 100px;">
                
                <div class="col s9 ">
                    <span class="white-text ">Hunters Needed
                    </span>
                </div>
                <div class="col s3">
                    <span class="white-text" style="
                    font-size: xxx-large;
                ">20</span>
                </div>
              
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel teal waves-effect waves-light  btn-large modal-trigger" data-target="addCardModal" style="height: 100px; width: 100%;">

            
                    <span class="white-text "> Add Pod
                    </span>
             
               
              
            </div>
          </div>

    </div>


    <div class="row center">
        <div class="col s12 m6 l6">
            <h3 class="title">Pods</h3>
            <% for (let i=0; i < greenhouseData.length; i++) { %> 

                <a class="podCard modal-trigger" data="<%= greenhouseData[i]._id %>" href="#<%= greenhouseData[i]._id %>">
                    <div class="card-panel col l12" >
               
                    <div class="card-content">
                        <div class="col s9 l9 ">
                            <div class="col s12 " ><span>Pod Name <b><%= greenhouseData[i].podName %> </b></span></div>
                            <div class="col s12 "><span>Last reading<b> <% if (!greenhouseData[i].timeStamp) { %>
                                N/A 
                            <% } else {  %> 
                                 <%= greenhouseData[i].timeStamp %> 
                            <% } %></b></span>
                            </div>
                        
                        </div>
                        <div class="col s3 l3 ">
                            <span>Number<p><b> <% if (!greenhouseData[i].insectsAmount) { %>
                                N/A 
                           <% } else { %> 
                                <%= greenhouseData[i].insectsAmount %> insects
                           <% } %> </b></p></span>
                        </div>
                       
                    </div>
                </a>
                    <!--button class="waves-effect waves-light btn modal-trigger" data-target="<%= greenhouseData[i]._id %>_updateAreaModal">
                        <i class="material-icons">update</i>
                    </button-->
    
                    <div id="<%= greenhouseData[i]._id %>" class="modal">
                        <div class="modal-content">
                            <span class="card-title grey-text text-darken-4"> Pod <%= greenhouseData[i].podName %> Historical Data </span>
                            
                            <div id="<%= greenhouseData[i]._id %>_historical-data" class="historical-data">

                            </div>
                            
                        </div>
    
                    </div>
                    
    
                </div>
            <% } %>
        </div>
        <div class="col s12 m6 l6">
            <h3 class="title">Map</h3>
            <div class="card-panel col l12 white" style="height: 300px;">
                   Graph
            </div>
            <div class="card-panel col l12 white" style="height: 300px;">
                Map
         </div>

        </div>


        
        
        
        <!-- Modal Trigger -->
        <div id="addButton-container" class="col s3">
            <button id="addButton" class="waves-effect waves-light btn-floating btn-large modal-trigger" data-target="addCardModal">
                <i class="material-icons">add</i>
            </button>
        </div>

        <!-- Modal Structure -->
        <div id="addCardModal" class="modal">
            <div class="modal-content">
                <h4>New area</h4>
                <p>Please provide area ID</p>
                <div class="input-field col s12">
                    <input  placeholder="Pod Name (e.g. A1)" id="podName" type="text" class="validate" required>
                    <label for="podName"> Pod Name </label>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row center">
                    <a id="addAreaButton" class="modal-close waves-effect waves-light btn">Submit</a>
                </div>
            </div>
        </div>

    </div>
    
</div>